---
import Wapos from "@/components/wapos.astro"
---
<section class="w-full h-full my-24">
    <div class="border-dashed w-10/12 h-5/6 border-white border-2 border-sky-500/20 mx-auto p-16">
        <div class="text-white mx-auto max-w-5xl pb-8">
            <h1 class="text-white font-semibold text-4xl pb-4">El equipo detrás de Skytech</h1>
            <p class="font-light">Detrás de cada proyecto exitoso hay un equipo dedicado y talentoso. Conoce a los profesionales que impulsan nuestra empresa, aportando su experiencia y creatividad para ofrecer soluciones excepcionales.</p>
        </div>
        <div class="grid grid-cols-3 gap-x-8 mx-auto justify-items-center gap-y-8">
            <Wapos username="Mi flaca" userinfo="Product Designer"/>
            <Wapos username="Mi flaca" userinfo="Product Designer"/>
            <Wapos username="Mi flaca" userinfo="Product Designer"/>
        </div>
    </div>
</section>