---
---

<section class="h-screen flex items-center">
    <div class=" h-3/5 w-screen grid grid-cols-11 grid-rows-2 gap-y-8 mx-16">

        <div class="col-span-2 rounded-2xl backdrop-blur-sm mx-8 px-10 text-lg py-10 backdrop-brightness-150 bg-opacity-80"> <p class="text-wrap text-white"> </p>
        </div>

        <div class="col-span-2 rounded-2xl backdrop-blur-sm mx-8 px-10 text-lg py-10 backdrop-brightness-150 bg-opacity-80"> <p class="text-wrap text-white"> </p>
        </div>

        <div class="shadow-slate-900 shadow-lg col-span-3 row-span-2 rounded-2xl backdrop-blur-sm mx-8 px-10 text-lg py-10 bg-gradient-to-t from-violet-950 via-sky-800 to-cyan-900 bg-opacity-80"> 
            <span class="flex justify-center my-2">
            <div class="absolute border-8 rounded-full h-24 w-24 border-cyan-600"></div>
            <img class="h-24 w-24 object-cover rounded-full border-transparent border-4" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="asd">
            </span>
            <div class="flex flex-col items-center text-white my-2">
                <h3 class="font-semibold">Laura Moreno</h3>
                <p class="font-light text-base">UX-UI Designer</p>
            </div>
            <p class="text-pretty text-base text-white overflow-hidden truncate mt-4"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis asperiores ullam sequi at omnis nam corporis non quidem culpa magnam adipisci, expedita impedit nihil quo voluptate sunt. Quae, unde pariatur!</p>
        </div>

        

        <div class=" col-span-4 rounded-2xl backdrop-blur-sm mx-8 px-10 py-8 font-normal text-base bg-gradient-to-b from-gray-800/20 to-sky-950 row-span-1 text-white flex flex-col gap-y-4"> 
 
        <p class="text-wrap italic truncate">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis asperiores ullam sequi at omnis nam corporis non quidem culpa magnam adipisci" Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic nesciunt dolores iusto commodi ad. Est numquam maxime eveniet, placeat ducimus a dignissimos, quia excepturi in consectetur ipsum sequi maiores vero."</p>
        <span class="py-2 font-semibold flex items-center gap-x-4"> <img class="h-12 w-12 object-cover rounded-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="asd"> 
        <span flex-col><p class="font-semibold">Laura Moreno</p> <p class="font-light">UX UI Designer</p></span> 
        </span>

        </div>

        <div class="col-span-2 rounded-2xl backdrop-blur-sm mx-8 px-10 text-lg py-10 backdrop-brightness-150 bg-opacity-80"> <p class="text-wrap text-white"> </p>
        </div>
        
        <div class="col-span-2 rounded-2xl backdrop-blur-sm mx-8 px-10 text-lg py-10 backdrop-brightness-150 bg-opacity-80"> <p class="text-wrap text-white"> </p>
        </div>

        <div class=" col-span-4 rounded-2xl backdrop-blur-sm mx-8 px-10 py-8 font-normal text-base bg-gradient-to-b from-gray-800/20 to-sky-950 row-span-1 text-white flex flex-col gap-y-4"> 
 
        <p class="text-wrap  italic overflow-hidden">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis asperiores ullam sequi at omnis nam corporis non quidem culpa magnam adipisci" Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic nesciunt dolores iusto commodi ad. Est numquam maxime eveniet, placeat ducimus a dignissimos, quia excepturi in consectetur ipsum sequi maiores vero.</p>
        <span class="py-2 font-semibold flex items-center gap-x-4"> <img class="h-12 w-12 object-cover rounded-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="asd"> 
        <span flex-col><p class="font-semibold">Laura Moreno</p> <p class="font-light">UX UI Designer</p></span> 
        </span>
        </div>
    </div>
</section>