---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import Layout from "@/layouts/Layout.astro"
import Form from "@/sections/contact/Form.astro"
---

<Layout title="Contáctanos">
    <Header/>
    <section class="w-full h-screen">
        <Form/>
    </section>
    <Footer/>
</Layout>