---
---

<span class="flex items-center justify-between shadow-md my-4 rounded-full border-2 border-transparent">
    <button class="pl-4 pr-2 border-gray-400 border-r-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy text-gray-400" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
    </button>        
    <input placeholder="Put your code here" class=" rounded-lg bg-transparent text-gray-100 outline-none placeholder:text-gray-400 w-40 px-2" type="text" name="text"/>
    <button class="text-gray-100 bg-gradient-to-r from-slate-800/50 to-violet-950/50 rounded-full px-4 py-2 hover:bg-cyan-400 transition-colors hover:font-semibold ">
        <a href="/">Get started</a>
    </button>
</span>